@import url("https://fonts.googleapis.com/css?family=Saira:700");
@import url("https://fonts.googleapis.com/css?family=Courgette&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

body#page-index {
  margin: 0;
  background: #000;
  height: 100vh;
  font-family: "Saira", sans-serif;
  font-weight: 700;
}

#page-index img {
  position: fixed;
  width: 100%;
  top: 30%;
  transition: top 1s;
}

#page-index .wrapper {
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

#page-index .graph-container {
  overflow: hidden;
  height: 100vh;
}

#page-index .graph-container .graph {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 0.5) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 0.5) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px);
  background-size: 4em 2em, 4em 4em;
  background-color: black;
  height: 40em;
  perspective: 1000px;
  margin-top: 20em;
  transform: perspective(200px) rotateX(45deg) scale(2);
  animation: animatedBackground 15s linear infinite;
  filter: blur(1.1px);
}

#page-index .graph-container .graph:after {
  content: ' ';
  display: block;
  background: #eeaeca;
  background: radial-gradient(circle, rgba(238, 174, 202, 0) 0%, #94bbe9 30%);
  width: 100%;
  height: 100%;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
    transform: perspective(200px) rotateX(45deg) scale(2); /* Done so browser would force re-render allowing us to animate background */
  }

  to {
    background-position: 0 -100%; /* Scrolling */
    transform: perspective(199px) rotateX(45deg) scale(2);
  }
}

#page-index h1 {
  background: linear-gradient(to bottom, #ebf1f6 0%, #abd3ee 50%, #859ee2 51%, #d5ebfb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ebf1f6", endColorstr="#d5ebfb",GradientType=0 );
  /* IE6-9 */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  transition: font-size 1s;
  position: absolute;
}

#page-index h1:after {
  background: none;
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5), 3px 1px 3px rgba(255, 0, 255, 0.85), -3px -2px 3px rgba(0, 0, 255, 0.85), 1px -2px 0 rgba(255, 255, 255, 0.8);
  z-index: -3;
}

#page-index h1:before {
  content: " ";
  position: absolute;
  top: -1em;
  left: -10%;
  height: 4.7em;
  background: url("img/triangle.svg") no-repeat;
  background-size: 7.5em;
  width: 120%;
  z-index: -4;
}

#page-index h2 {
  text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5), 2px 1px 2px rgba(255, 0, 255, 0.85), -3px -2px 3px rgba(0, 0, 255, 0.85), 1px -2px 0 rgba(255, 255, 255, 0.8);
  color: #ff00ea;
  font-size: 2em;
  transform: rotateZ(-15deg);
  position: absolute;
  font-family: "Courgette", cursive;
  transition: font-size 1s;
  margin-top: 3.5em;
}

@media only screen and (min-width: 768px) {
  img {
    top: 17%;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3.5em;
  }
}

@media only screen and (min-width: 950px) {
  body {
    background-position: 50% 0%;
  }
}

@media only screen and (min-width: 1100px) {
  img {
    top: 8%;
  }
}

@media only screen and (min-width: 1500px) {
  img {
    top: -10%;
  }
}